*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato';
}

header{
  width: 100%;
  position: fixed;
  display: flex;
  height: 50px;
  font-size: 13px;
  background-color: #000;
  color: white;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 999;
}

.speaker{
  background-color: #4A4A4A;
  border-radius: 5px;
  padding: 5px 3px;
  height: 25px;
  margin-right: 7px;
  margin-top: 5px;
}

.btn-header{
  background-color: #4A4A4A;
  border-radius: 5px;
  height: 25px;
  margin-right: 4px;
  padding: 5px 5px;
  margin-top: 5px;
}

.speaker:hover, .btn-header:hover{
  cursor: pointer;
}


main{
  width: 100%;
  height: calc(100vh - 50px);
  background-color: #000;
  overflow: auto;
}

.container{
  width: 95%;
  margin: 0 auto;
  padding-top: 90px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  row-gap: 7px;
}

.image{
  width: 150px;
  height: 80px;
  background-image: url("https://picsum.photos/640/360");
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.image div{
  background-color: rgba(51, 54, 52, 0.5);
  width: 90px;
  height: 17px;
  font-size: 14px;
  color: white;
}




footer{
  width: 100%;
  height: 50px;
  background-color: #222222;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.foot-left{
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 8%;
  text-align: center;
}


.foot-left .fas.fa-chevron-up{
  position: relative;
  top: -28px;
  right: -31px;
  font-size: 11px;
}

.foot-centre{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 40%;
  margin-bottom: 10px;
}

.video p{
  font-size: 12px;
}

.microphone p{
  font-size: 12px;
}

.active i{
  color: #4BC800;
}

.foot-right{
  width: 6%;
  background-color: #4A4A4A;
  color: red;
  text-align: center;
  font-size: 12px;
  line-height: 60px;
}

.microphone p{
  font-size: 12px;
}

